<ion-header>

  <ion-navbar color="vitc">
    <ion-title>Temperatura Corporal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
		<ion-item>
		<ion-label stacked floating><h2>Nome:</h2></ion-label>
			<ion-input type="name" #nome></ion-input>
	</ion-item>
	<ion-item>
		<ion-label stacked floating><h2>Temperatura (°C):</h2> </ion-label>
			<ion-input [(ngModel)]="isInputing" type="number" #febre></ion-input>
	</ion-item><br>
	<button class="border" [disabled]="isInputing == ''" ion-button block (click)="CalcularFebre()" color="vitc" large>Calcular</button><br>


<h3 text-center *ngIf="resultado<=35">BAIXA</h3>
	<h3 text-center *ngIf="resultado>=36.5 && resultado<=37.6">LEVE</h3>
	<h3 text-center *ngIf="resultado>=37.7 && resultado<=38.6">MODERADA</h3>
	<h3 text-center *ngIf="resultado>38.6">ELEVADA</h3>

		<h6 *ngIf="resultado">Clique no botão abaixo para se informar mais sobre a sua saúde {{name}}! <ion-icon name="ios-happy-outline"></ion-icon></h6>
<button text-center ion-button medium color="vitc" (click)="AlimentosPage()" *ngIf="resultado" icon-start>
				Veja aqui
			</button>
	<br><img src="assets/imgs/febre.jpg" *ngIf="resultado > 0">
</ion-content>
