page-nutrientes {
ion-content .scroll-content {
        background-image: url(../../assets/imgs/nutrientes.png);
        background-size: cover;
        background-position: center;
    }
     .border {
        border-radius: 10.618px;
    }
}
